---

# This is a basic workflow to help you get started with Actions

name: Molecule

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
    branches:
      - master
      - tags/*

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: install lint prerequisite
        run: |
          sudo apt -y install python3-setuptools ansible-lint

      - name: Install molecule
        run: |
          sudo apt update
          sudo apt -y install python3-setuptools python3 python3-pip docker vagrant
          sudo pip3 install wheel
          sudo pip3 install molecule testinfra yamllint ansible-lint flake8 molecule-vagrant

      - name: molecule lint
        run: |
          molecule lint
